/* rewritten with nesting */
.markdown {
  @apply text-lg leading-relaxed;
  p, ul, ol, blockquote {
    margin-bottom: 1.2em;
  }
  /* fixing RT renderer problems */
  ul, ol {
    margin-left: 1em;
    list-style-type: disc;
    line-height: 1.3;
  }
  li p {
    margin-bottom: 0.5em;
  }
  blockquote {
    @apply ml-8 text-xl italic;
  }

  h2, h3, h4, h5 {
    @apply font-sans leading-snug;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }
  h2 {
    @apply text-3xl font-bold text-gray-800;
  }
  h3 {
    @apply text-2xl;
  }
  h2 + h3, h3 + h4 {
    margin-top: 0;
  }
  p:empty { display:none; }
}