/* rewritten with nesting */
/* .markdown {
  ul, ol, blockquote {
    @apply ml-8 mb-5;
  }

  ul, ol {
    list-style-type: disc;
  }

  h2, h3, h4, h5 {
    @apply font-sans leading-snug;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }
  h2 {
    @apply text-3xl font-bold text-gray-800;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply font-serif font-bold;
  }
  h2 + h3, h3 + h4 {
    margin-top: 0;
  }
  p:empty { display:none; }

  a {
    text-decoration: underline;
    text-decoration-thickness: .125em;
    text-underline-offset: 1.5px;
    text-decoration-color: var(--link-color);
  }
  a:hover, a:focus {
    color: var(--link-hover);
    text-decoration-color: var(--link-color);
  }
} */