:root {
  --a: 0.3;
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(29, 29, 31);
  --white-a: rgba(255,255,255, 0.5);
  --black-a: rgba(0,0,0, 0.5);
  --link-color: hsl(341, 98%, 64%);
  --link-hover: hsl(341, 90%, 48%);
  --primary-dark: hsl(325, 100%, 29%);
  --alt-color: hsl(175, 100%, 47%);
  --alt-color-dark: hsl(182, 100%, 33%);
  --ui-speed: 200ms;
}

html {
  @apply font-sans;
  background-color: white;
  /* background-color: var(--bg-light); */
}
article {
  @apply font-serif;
}
p {
  margin-bottom: 1.2em;
}

/* needs .inline-flex on parent */
.icon-inline {
  display: inline-block;
  width: 1.1em;
}

